.error-404 {
  min-height: calc(100vh - 270px);
  margin-top: 24px;
  padding: 2em 0 1em;

  .error-404-image-container {
    text-align: center;
    .error-404-image{
      margin: 2em 0 1em;
      max-width: 50vw;
      max-height: 25vh;
    }
  }
}
