
.footer{
  text-align: center;
  background: $brand-green;
  color: $brand-cream;
  padding: 5rem 0;

  @media screen and (min-width: 48em) {
    text-align: left;
  }

  .footer-section{
    padding: 0 1rem;
    float: left;
    width: 100%;

    @media screen and (min-width: 48em) {
      width: 25%;
    }

    .footer-logo-image{
      max-height: 40px;
      margin-bottom: .5rem;
    }

    .footer-section--heading{
      color: $brand-cream;
      border-bottom: solid 1px rgba($brand-cream,.5);
      padding-bottom: .5rem;
      margin-top: 1.5rem;
      text-transform: none;
      font-weight: 100;

      @media screen and (min-width: 48em) {
        margin-top: 0;
      }
    }

    .footer-section--content{
      font-weight: 200;
    }
  }
  .footer-section--content--list{
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: .25rem;
      float: left;
      width: 100%;
      a {
        color: $brand-cream;
        i {
          width: 18px;
        }
        &:hover {
          color: $white;
        }
      }
    }

    &.footer-section--content--list--morespacing {
      li {

        + li {
          margin-top: 1em;
        }

        address {
          font-style: normal;
          margin: 0;
        }
      }
    }
  }
}
