body.has-header-image .site-description{
  color: $blue;
  letter-spacing: -1px;
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.2;
  background: rgba(250,250,250,.5);
  padding: .5em;

  @media screen and (min-width: $tablet-width) {
    font-size: 3.5rem;
    max-width: 75%;
    line-height: 1;
    background: none;
    padding: 0;
  }
}

.site-branding {
  @media screen and (min-width: $tablet-width) {
    padding: 3em 0 15em;
  }

  .site-branding-text{
    text-align: center;
    @media screen and (min-width: $tablet-width) {
      text-align: left;
    }
  }
}

.custom-header-media:before {
  background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4) 100%);
}

a.more-link {
  color: $green;
  box-shadow: none;
  font-size: .8rem;
}

.entry-summary{
  p {
    margin-bottom: .25rem;
  }
}

.entry-title {
  a:hover{
    box-shadow: none;
    color: $gray-light-5;
  }
}

.items{
  margin-bottom: 1rem;
  // background: pink;
  float: left;
  width: 100%;

  .items-row{
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.items-heading, .supplemental-heading {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

.card{
  margin-bottom: 2em;

  .post-thumbnail{
    height: 200px;
    overflow: hidden;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;

    .post-thumbnail{
      height: 180px;
      overflow: hidden;
    }
  }

  &.card-sm {
    .post-thumbnail{
      height: 120px;
    }

    .entry-header {
      padding: 0;
    }

    .entry-title {
      font-size: 1.25em;
    }
  }
}

#primary .items article {
  padding: 1em;
}
