#blog-brand{

}

body.has-header-image .site-description{
  font-size: 3.5rem;
  max-width: 75%;
  color: $blue;
  line-height: 1;

  letter-spacing: -1px;
  font-weight: 100;
}

.site-branding {
  padding: 3em 0 15em;
}

.custom-header-media:before {
  background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0.4) 100%);
}

a.more-link {
  color: $green;
  box-shadow: none;
  font-size: .8rem;
}

.entry-summary{
  p {
    margin-bottom: .25rem;
  }
}

.entry-title {
  a:hover{
    box-shadow: none;
    color: $gray-light-5;
  }
}

.items{
  margin-bottom: 1rem;
  // background: pink;
  float: left;
  width: 100%;

  .items-row{
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.items-heading, .supplemental-heading {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

.card{
  .post-thumbnail{
    height: 180px;
    overflow: hidden;
  }

  &.card-sm {
    .post-thumbnail{
      height: 120px;
    }

    .entry-header {
      padding: 0;
    }

    .entry-title {
      font-size: 1.25em;
    }
  }
}
