.single-featured-image-header {
  margin-top: $navbar-height;
  max-height: 60vh;
  position: relative;

  img {
    min-width: 80%;
  }

  .single-featured-title {
    display: none;
    @media screen and (min-width: $mobile-width) {
      display: block;
      position: absolute;
      bottom: 1rem;
      left: 5rem;
      background: rgba(0,0,0,.8);
      color: $gray-light-d;
      padding: .5rem 1rem;
      max-width: 60%;

      h1 {
        @media screen and (min-width: $tablet-width) {
          font-size: 2.5rem;
          margin-bottom: .5em;
        }
      }
    }
  }
}

.site-content-contain {
  .site-content {
    @media screen and (min-width: 48em) {
      margin-top: $navbar-height;
      padding: 3rem 0;
    }
  }
}

.home, .single-post {
  .site-content-contain .site-content {
    @media screen and (min-width: 48em) {
      margin-top: 0;
      padding: 5em 0;
    }
  }
}

.footer-posts {
  padding: 3em 1.5em 0;
}

.entry-supplemental-section .tags-links a {
	color: $blue;
  text-transform: capitalize;
}


.button-list {
  list-style: none;
  margin: 1em 0;

  li {
    + li {
      margin-top: 1em;
    }

    @media screen and (min-width: $mobile-width) {
      float: left;
      + li {
        margin-top: 0;
        margin-left: .45em;

        @media screen and (min-width: $tablet-width) {
          margin-left: 1em;
        }
      }
    }

    a {
      display: block;
      text-align: center;
      color: $blue;
      border: solid 1px;
      padding: .4em .8em;
      font-size: .95rem;

      @media screen and (min-width: $tablet-width) {
        padding: .5em 1.5em;
      }

      &:hover{
        box-shadow: inset 0 0 0 transparent, 0 1px 0 black;
      }
    }


  }
}


ul.tags-list {
  list-style: none;
  margin: .5em 0 0;

  li {
    float: left;
    padding-right: .5em;
    a {
      color: $blue;
      text-transform: capitalize;

      &:hover{
        box-shadow: inset 0 0 0 transparent, 0 2px 0 black;
      }
    }

    &:after {
      content: ",";
      color: $blue;
    }

    &:last-child {
      padding-right: 0;
      &:after {
        content: "";
      }
    }
  }
}

.washington-outer-wrap {
  max-width: 600px !important;
  margin: 0 auto;
  padding: 1em 0 1em;

  .washington-element-title-content span{
    // font-size: 1.75rem !important;
  }
}

.byline + .edit-link {
  margin-left: 10px;
  text-decoration: underline;
}
