@keyframes fadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.custom-header + .navigation-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  @media screen and (min-width: $tablet-width) {
    position: fixed;
    top: inherit;
    &.navigation-top-hide{
      opacity: 0;
      &.site-navigation-fixed {
        top: 0;
        animation: fadeIn .25s forwards;
      }
    }
  }
}

.admin-bar .custom-header + .navigation-top.navigation-top-hide.site-navigation-fixed{
  @media screen and (min-width: $tablet-width) {
    &.navigation-top-hide.site-navigation-fixed {
      top: 28px;
    }
  }
}

.navigation-top {
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  .wrap {
    @media screen and (min-width: $tablet-width) {
      max-width: none;
      padding: .25em 5em;
    }
  }
}

.main-navigation {
  .menu-toggle {
    display: inline-block;
    float: right;
    &:focus {
      outline: none;
    }
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }


  .menu-top-nav-container, .menu-top-menu-container {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;

    @media screen and (min-width: $tablet-width) {
      position: static;
      top: inherit;
      width: auto;
    }

    .menu {
      float: right;

      li {
        a {
          padding: .5em 1em;
          font-weight: 100;
          font-size: .9rem;
          color: $gray-light-5;
          font-weight: 400;
        }

        // &:nth-child(n+2){
        //   @media screen and (min-width: $tablet-width) {
        //     float: right;
        //   }
        // }
      }
    }
  }

  .menu-top-nav-blog-info{

    @media screen and (min-width: $tablet-width) {
      float: left;
      width: 100%;
      text-align: center;
    }

    .custom-logo-link {
      display: inline-block;
      padding: 0;

      .custom-logo {
        max-height: 30px;
        margin-top: .65em;
        margin-left: 1em;
      }

      @media screen and (min-width: $tablet-width) {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -20px;

        .custom-logo {
          max-height: 40px;
          margin: 0;
        }
      }
    }

    .menu-top-nav-blog-description {
      color: $blue;
      padding-top: 0;
      display: none;
      font-size: .75rem;
      @media screen and (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}
