@keyframes fadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.navigation-top {

  &.navigation-top-hide{
    opacity: 0;
    &.site-navigation-fixed {
      animation: fadeIn .25s forwards;
    }
  }
}

.main-navigation {
  .menu-toggle {
    display: inline-block;
    float: right;
    &:focus {
      outline: none;
    }
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }

  .custom-logo-link {
    display: inline;

    img {
      max-height: 30px;
      margin-top: .65em;
      margin-left: 1em;
    }

    @media screen and (min-width: $tablet-width) {
      float: left;
      padding-top: 0;
      padding-bottom: 0;

      img {
        max-height: 40px;
        margin: 0;
      }
    }
  }

  .menu-top-nav-container {
    @media screen and (min-width: $tablet-width) {
      float: right;
    }

    .menu {
      li {
        a {
          // font-weight: 300;
        }

        &:last-child {
          a {
            @media screen and (min-width: 48em) {
              background: #333;
              color: $white;
              padding: .65em 1.65em;
              border-radius: 2px;
              font-weight: 100;
              letter-spacing: .5px;
              margin-left: 2em;
              &:hover {
                background: #767676;
              }
            }
          }
        }
      }
    }
  }
}
