$navbar-height: 70px;
$navbar-height-sm: 50px;

@keyframes fadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.custom-header + .navigation-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  @media screen and (min-width: $tablet-width) {
    position: fixed;
    top: inherit;
    &.navigation-top-hide{
      opacity: 0;
      &.site-navigation-fixed {
        top: 0;
        animation: fadeIn .25s forwards;
      }
    }
  }
}

.admin-bar .custom-header + .navigation-top.navigation-top-hide.site-navigation-fixed{
  @media screen and (min-width: $tablet-width) {
    &.navigation-top-hide.site-navigation-fixed {
      top: 28px;
    }
  }
}

.navigation-top {
  // box-shadow: 0 1px 4px rgba(0,0,0,.2);
  background: $brand-cream-light;
  border-bottom: solid 1px $brand-cream-dark;
  .wrap {
    @media screen and (min-width: $tablet-width) {
      max-width: none;
      padding: .25em 5em;
    }
  }
}

.main-navigation {
  height: $navbar-height-sm;

  @media screen and (min-width: $tablet-width) {
    height: $navbar-height;
  }
  float: left;
  width: 100%;
  .menu-toggle {
    display: inline-block;
    float: right;
    &:focus {
      outline: none;
    }
    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }

  .menu-top-nav-container, .menu-top-menu-container {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;

    @media screen and (min-width: $tablet-width) {
      position: static;
      top: inherit;
      width: auto;
    }

    .menu {
      // @media screen and (min-width: $medium-width) {
      //   float: left;
      // }

      li {
        a {
          padding: 1em;
          margin-top: .6em;
          font-weight: 100;
          font-size: .9rem;
          color: $black;
          font-weight: 400;

          &:hover {
            color: rgba($black, .75);
          }
        }

        @media screen and (min-width: $tablet-width) and (max-width: 1000px) {
          &:nth-child(3) {
            display:none;
          }
        }


        &:last-child{

          @media screen and (min-width: $tablet-width) {
            float: right;
            a {
              background: $brand-primary;
              color: $white;
              box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
              height: 40px;
              line-height: 40px;
              padding: 0 40px;
              display: inline-block;
              margin-top: .75em;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .menu-top-nav-blog-info{
    margin: 5px 0 0 20px;


    @media screen and (min-width: $tablet-width) {
      text-align: center;
      float: left;
      width: 100%;
      margin-top: -50px;
      // margin-top: -$navbar-height + 10px;
    }

    .custom-logo-link {
      display: inline-block;
      padding: 0;

      .custom-logo {
        max-height: 40px;
        @media screen and (min-width: $tablet-width) and (max-width: 1000px) {
          max-height: 50px;
        }
        @media screen and (min-width: 1000px) {
          max-height: $navbar-height - 10px;
        }
      }

    }
  }
}
