
html {
  font-size: $font-size-sm-px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base-px;
  }
}

.btn-light {
  background: $white;
  color: $primary;

  &:hover {
    background: $primary;
    color: $white;
    border-color: $white;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: $h2-font-size;
  }
}

@include media-breakpoint-down(sm) {
  h3 {
    font-size: $h4-font-size;
  }
}

.section {
    margin: 1rem 0;
    @include media-breakpoint-up(md) {
      margin: 4rem 0;
    }
}

.section-row + .section-row {
  margin-top: 2rem;
  @include media-breakpoint-up(md) {
    margin-top: 4rem;
  }
}

.screen-reader-text {
  display: none;
}

.pagination {
  margin-top: 1rem;

  .nav-links {
    width: 100%;
    text-align:center;
  }

  .page-numbers {
    margin: 0 .5rem;

    &.prev, &.next {
      background: $gray-100;
      padding: .5rem;
      margin: 0 1rem;

      &:hover {
        background: $gray-400;
      }
    }

    &.current {
      font-weight: $font-weight-heavy;
      border-bottom: 2px solid;
    }
  }

  .pagination-arrow {
    width: .75rem;
    height: .75rem;
  }
}

//to handle how posts look around images
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}