//Footer
$footer-height: 340px;
$footer-height-sm: 50px;
$footer-spacing: 2rem;

.footer {
  height: $footer-height;
  text-align: center;
  color: $black;
  font-size: 14px;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  a {
    color: $gray;

    &:hover {
      color: $black;
    }
  }

  .footer__logo {
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 18px;
    color: $black;
    font-weight: 600;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 0.75em;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  hr.thick {
    background-color: $black;
    height: 6px;
    margin: 20px auto 30px;
    width: 80px;

    @include media-breakpoint-up(md) {
      margin: 20px 0 30px;
    }
  }

  .footer__links {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-top: 0.75rem;
      a {
        color: $gray;
        text-decoration: none;

        &:hover {
          color: $black;
          text-decoration: none;
        }
      }
      i {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  .footer__affiliate-logo {
    display: flex;

    img {
      max-height: 20px;
      margin-right: 0.5rem;
    }

    label {
      font-size: $font-size-sm;
    }
  }
}
