$logoWidth: 100px;
$logoWidthLg: 160px;
$iconWidth: 24px;
$searchWidth: 300px;
$inputTransition: 200ms;

.navbar {
  border-bottom: solid 1px;

  .form-icon {
    color: $primary;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-2x;
    }
  }

  .search-form {
    position: relative;
    top: 4px;
  }
}

.navbar-collapse.show {
  .container-fluid {
    padding-left: 0;
  }
  .navbar-nav {
    margin-top: 1rem;
    .nav-link {
      padding-left: 0 !important;
      padding-bottom: 1.5rem;
    }
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.navbar-brandimage {
  max-width: $logoWidth;
  @include media-breakpoint-up(lg) {
    max-width: $logoWidthLg;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
