$logoWidth: 100px;
$logoWidthLg: 200px;
$iconWidth: 24px;
$searchWidth: 200px;
$inputTransition: 200ms;



.navbar {
  border-bottom: solid 2px $black;

  .form-icon {
    color: $primary;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-2x;
    }
  }
}

.navbar-brandimage {
  max-width: $logoWidth;
  @include media-breakpoint-up(lg) {
    max-width: $logoWidthLg;
  }
}

.navbar-search {
  position: relative;
  width: calc(100% - #{$iconWidth});

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  .search-border {
    height: 2px;
    width: 100%;
    background-color: $black;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: transform $inputTransition cubic-bezier(0.4, 0, 0.2, 1), opacity $inputTransition cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform $inputTransition cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: $searchWidth / 2 center;
  }

  .search {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px $black;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: $searchWidth;
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;

      + .search-border {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
