.post-header {
  text-align: center;
  margin: 2rem 0;
}

.post-title {
  margin: 2rem 0 1rem;
}

.post-content {
  p:last-child {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}

.post-series,
.post-about {
  font-size: $font-size-lg;
  font-style: italic;
  margin-bottom: 1rem;

  a {
    text-decoration: underline;
  }
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 2rem 0 1rem;
}

.social-list-item {
  margin-right: 1rem;

  a {
    svg {
      width: 2.25rem;

      .background {
        transition: fill 0.25s ease;
        fill: $white;
      }

      .icon-fill {
        transition: fill 0.25s ease;
        fill: $primary;
      }
    }
  }
}
